:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Arial', Courier, monospace;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button_save {
  width: 100px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  cursor: pointer;
  transition: border-color 0.30s;
}
.button_save:hover {
  background-color: #646cff;
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title_create_employee {
  text-align: center;
  margin-bottom: 20px;
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adress {
  display: flex;
  width: 100%;
  max-width: 350px;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-input{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 250px;
}

.lien_tableau {
  display: flex;
  justify-content: center;
}
.lien_tableau:hover {
  color: #ba53f2;
}

/* THEMES */
.theme-light,
.theme-dark {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.theme-light {
  background-color: #ffffff;
  color: #000000;
}

.theme-dark {
  background-color: #2b2a2a;
  color: #ffffff;
}

/* HEADER */
.app-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* BUTTON */
.theme-toggle {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.theme-dark .theme-toggle {
  background-color: #333;
  color: white;
}

.theme-light .theme-toggle {
  background-color: #eee;
  color: black;
}

.app-container {
display: flex;
justify-content: center;
}