:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.title_create_employee {
  text-align: center;
  margin-bottom: 20px;
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 800px;
  margin: auto;
}

.adress {
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 2px;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.form-group {
  display: flex;
  width: 175px;
  flex-direction: column;
  margin-bottom: 15px;
}

.lien_tableau {
  display: flex;
  justify-content: center;
}
.lien_tableau:hover {
  color: #ba53f2;
}